@import "@radix-ui/colors/sand.css";
@import "@radix-ui/colors/brown.css";
@import "@radix-ui/colors/brown-alpha.css";
@import "tailwindcss";

:root {
  --renstack-colors-primary-base: var(--brown-1);
  --renstack-colors-primary-bg-subtle: var(--brown-2);
  --renstack-colors-primary-bg-shape: var(--brown-3);
  --renstack-colors-primary-bg-hover: var(--brown-4);
  --renstack-colors-primary-bg-active: var(--brown-5);
  --renstack-colors-primary-line: var(--brown-6);
  --renstack-colors-primary-border: var(--brown-7);
  --renstack-colors-primary-border-hover: var(--brown-8);
  --renstack-colors-primary-focus-ring: var(--brown-8);
  --renstack-colors-primary-solid: var(--brown-9);
  --renstack-colors-primary-solid-hover: var(--brown-10);
  --renstack-colors-primary-text-subtle: var(--brown-11);
  --renstack-colors-primary-text: var(--brown-12);

  --renstack-colors-primary-base-alpha: var(--brown-a1);
  --renstack-colors-primary-bg-subtle-alpha: var(--brown-a2);
  --renstack-colors-primary-bg-shape-alpha: var(--brown-a3);
  --renstack-colors-primary-bg-hover-alpha: var(--brown-a4);
  --renstack-colors-primary-bg-active-alpha: var(--brown-a5);
  --renstack-colors-primary-line-alpha: var(--brown-a6);
  --renstack-colors-primary-border-alpha: var(--brown-a7);
  --renstack-colors-primary-border-hover-alpha: var(--brown-a8);
  --renstack-colors-primary-focus-ring-alpha: var(--brown-a8);
  --renstack-colors-primary-solid-alpha: var(--brown-a9);
  --renstack-colors-primary-solid-hover-alpha: var(--brown-a10);
  --renstack-colors-primary-text-subtle-alpha: var(--brown-a11);
  --renstack-colors-primary-text-alpha: var(--brown-a12);

  --renstack-colors-neutral-base: var(--sand-1);
  --renstack-colors-neutral-bg-subtle: var(--sand-2);
  --renstack-colors-neutral-bg-shape: var(--sand-3);
  --renstack-colors-neutral-bg-hover: var(--sand-4);
  --renstack-colors-neutral-bg-active: var(--sand-5);
  --renstack-colors-neutral-line: var(--sand-6);
  --renstack-colors-neutral-border: var(--sand-7);
  --renstack-colors-neutral-border-hover: var(--sand-8);
  --renstack-colors-neutral-focus-ring: var(--sand-8);
  --renstack-colors-neutral-solid: var(--sand-9);
  --renstack-colors-neutral-solid-hover: var(--sand-10);
  --renstack-colors-neutral-text-subtle: var(--sand-11);
  --renstack-colors-neutral-text: var(--sand-12);

  --renstack-colors-neutral-base-alpha: var(--sand-a1);
  --renstack-colors-neutral-bg-subtle-alpha: var(--sand-a2);
  --renstack-colors-neutral-bg-shape-alpha: var(--sand-a3);
  --renstack-colors-neutral-bg-hover-alpha: var(--sand-a4);
  --renstack-colors-neutral-bg-active-alpha: var(--sand-a5);
  --renstack-colors-neutral-line-alpha: var(--sand-a6);
  --renstack-colors-neutral-border-alpha: var(--sand-a7);
  --renstack-colors-neutral-border-hover-alpha: var(--sand-a8);
  --renstack-colors-neutral-focus-ring-alpha: var(--sand-a8);
  --renstack-colors-neutral-solid-alpha: var(--sand-a9);
  --renstack-colors-neutral-solid-hover-alpha: var(--sand-a10);
  --renstack-colors-neutral-text-subtle-alpha: var(--sand-a11);
  --renstack-colors-neutral-text-alpha: var(--sand-a12);
}

@theme inline {
  --color-focus: var(--renstack-colors-focus);

  --color-primary-solid: var(--renstack-colors-primary-solid);
  --color-primary-solid-hover: var(--renstack-colors-primary-solid-hover);
  --color-primary-base: var(--renstack-colors-primary-base);
  --color-primary-bg-subtle: var(--renstack-colors-primary-bg-subtle);
  --color-primary-bg-shape: var(--renstack-colors-primary-bg-shape);
  --color-primary-bg-hover: var(--renstack-colors-primary-bg-hover);
  --color-primary-bg-active: var(--renstack-colors-primary-bg-active);
  --color-primary-line: var(--renstack-colors-primary-line);
  --color-primary-border: var(--renstack-colors-primary-border);
  --color-primary-border-hover: var(--renstack-colors-primary-border-hover);
  --color-neutral-focus-ring: var(--renstack-colors-primary-focus-ring);
  --color-primary-text: var(--renstack-colors-primary-text);
  --color-primary-text-subtle: var(--renstack-colors-primary-text-subtle);

  --color-primary-solid-alpha: var(--renstack-colors-primary-solid-alpha);
  --color-primary-solid-hover-alpha: var(
    --renstack-colors-primary-solid-hover-alpha
  );
  --color-primary-base-alpha: var(--renstack-colors-primary-base-alpha);
  --color-primary-bg-subtle-alpha: var(
    --renstack-colors-primary-bg-subtle-alpha
  );
  --color-primary-bg-shape-alpha: var(--renstack-colors-primary-bg-shape-alpha);
  --color-primary-bg-hover-alpha: var(--renstack-colors-primary-bg-hover-alpha);
  --color-primary-bg-active-alpha: var(
    --renstack-colors-primary-bg-active-alpha
  );
  --color-primary-line-alpha: var(--renstack-colors-primary-line-alpha);
  --color-primary-border-alpha: var(--renstack-colors-primary-border-alpha);
  --color-primary-border-hover-alpha: var(
    --renstack-colors-primary-border-hover-alpha
  );
  --color-neutral-focus-ring-alpha: var(
    --renstack-colors-primary-focus-ring-alpha
  );
  --color-primary-text-alpha: var(--renstack-colors-primary-text-alpha);
  --color-primary-text-subtle-alpha: var(
    --renstack-colors-primary-text-subtle-alpha
  );

  --color-neutral-solid: var(--renstack-colors-neutral-solid);
  --color-neutral-solid-hover: var(--renstack-colors-neutral-solid-hover);
  --color-neutral-base: var(--renstack-colors-neutral-base);
  --color-neutral-bg-subtle: var(--renstack-colors-neutral-bg-subtle);
  --color-neutral-bg-shape: var(--renstack-colors-neutral-bg-shape);
  --color-neutral-bg-hover: var(--renstack-colors-neutral-bg-hover);
  --color-neutral-bg-active: var(--renstack-colors-neutral-bg-active);
  --color-neutral-line: var(--renstack-colors-neutral-line);
  --color-neutral-border: var(--renstack-colors-neutral-border);
  --color-neutral-border-hover: var(--renstack-colors-neutral-border-hover);
  --color-neutral-focus-ring: var(--renstack-colors-neutral-focus-ring);
  --color-neutral-text: var(--renstack-colors-neutral-text);
  --color-neutral-text-subtle: var(--renstack-colors-neutral-text-subtle);
  --color-neutral-placeholder-text: var(
    --renstack-colors-neutral-placeholder-text
  );

  --color-neutral-solid-alpha: var(--renstack-colors-neutral-solid-alpha);
  --color-neutral-solid-hover-alpha: var(
    --renstack-colors-neutral-solid-hover-alpha
  );
  --color-neutral-base-alpha: var(--renstack-colors-neutral-base-alpha);
  --color-neutral-bg-subtle-alpha: var(
    --renstack-colors-neutral-bg-subtle-alpha
  );
  --color-neutral-bg-shape-alpha: var(--renstack-colors-neutral-bg-shape-alpha);
  --color-neutral-bg-hover-alpha: var(--renstack-colors-neutral-bg-hover-alpha);
  --color-neutral-bg-active-alpha: var(
    --renstack-colors-neutral-bg-active-alpha
  );
  --color-neutral-line-alpha: var(--renstack-colors-neutral-line-alpha);
  --color-neutral-border-alpha: var(--renstack-colors-neutral-border-alpha);
  --color-neutral-border-hover-alpha: var(
    --renstack-colors-neutral-border-hover-alpha
  );
  --color-neutral-focus-ring-alpha: var(
    --renstack-colors-neutral-focus-ring-alpha
  );
  --color-neutral-text-alpha: var(--renstack-colors-neutral-text-alpha);
  --color-neutral-text-subtle-alpha: var(
    --renstack-colors-neutral-text-subtle-alpha
  );
  --color-neutral-placeholder-text-alpha: var(
    --renstack-colors-neutral-placeholder-text-alpha
  );
}

@layer base {
  body {
    @apply bg-neutral-base text-neutral-text antialiased;
  }
}
